
.gradle/4.10.3/fileChanges/last-build.bin
.gradle/4.10.3/fileContent/annotation-processors.bin
.gradle/4.10.3/fileContent/fileContent.lock
.gradle/4.10.3/fileHashes/fileHashes.bin
.gradle/4.10.3/fileHashes/fileHashes.lock
.gradle/4.10.3/fileHashes/resourceHashesCache.bin
.gradle/4.10.3/gc.properties
.gradle/4.10.3/javaCompile/classAnalysis.bin
.gradle/4.10.3/javaCompile/jarAnalysis.bin
.gradle/4.10.3/javaCompile/javaCompile.lock
.gradle/4.10.3/javaCompile/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.bin
.gradle/4.10.3/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/gradle.log
.gradle/vcs-1/gc.properties
.idea/.name
.idea/compiler.xml
.idea/discord.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules/lypakautils.api.iml
.idea/modules/lypakautils.main.iml
.idea/modules/lypakautils.test.iml
.idea/runConfigurations.xml
.idea/vcs.xml
build/classes/java/main/com/lypaka/lypakautils/ConfigurationLoaders/BasicConfigManager.class
build/classes/java/main/com/lypaka/lypakautils/ConfigurationLoaders/ComplexConfigManager.class
build/classes/java/main/com/lypaka/lypakautils/ConfigurationLoaders/ConfigUtils.class
build/classes/java/main/com/lypaka/lypakautils/ConfigurationLoaders/PlayerConfigManager.class
build/classes/java/main/com/lypaka/lypakautils/FancyText.class
build/classes/java/main/com/lypaka/lypakautils/JoinListener.class
build/classes/java/main/com/lypaka/lypakautils/LypakaUtils.class
build/classes/java/main/com/lypaka/lypakautils/PermissionHandler.class
build/classes/java/main/com/lypaka/lypakautils/WorldDimGetter.class
build/classes/java/main/com/lypaka/lypakautils/WorldMap.class
build/libs/LypakaUtils-0.0.2.jar
build/resources/main/mcmod.info
build/sources/main/java/com/lypaka/lypakautils/ConfigurationLoaders/BasicConfigManager.java
build/sources/main/java/com/lypaka/lypakautils/ConfigurationLoaders/ComplexConfigManager.java
build/sources/main/java/com/lypaka/lypakautils/ConfigurationLoaders/ConfigUtils.java
build/sources/main/java/com/lypaka/lypakautils/ConfigurationLoaders/PlayerConfigManager.java
build/sources/main/java/com/lypaka/lypakautils/FancyText.java
build/sources/main/java/com/lypaka/lypakautils/JoinListener.java
build/sources/main/java/com/lypaka/lypakautils/LypakaUtils.java
build/sources/main/java/com/lypaka/lypakautils/PermissionHandler.java
build/sources/main/java/com/lypaka/lypakautils/WorldDimGetter.java
build/sources/main/java/com/lypaka/lypakautils/WorldMap.java
build/tmp/jar/MANIFEST.MF
build/tmp/shadowJar/MANIFEST.MF
run/logs/latest.log
run/logs/debug.log
run/config/forge-common.toml
run/config/forge-client.toml
run/config/fml.toml
build/tmp/remapJar/MANIFEST.MF
build/tmp/expandedArchives/forge-1.16.5-36.2.35_mapped_official_1.16.5-sources.jar_276f697586e3794d03049a67dadd70e7/net/minecraftforge/client/model/generators/loaders/SeparatePerspectiveModelBuilder.java
build/tmp/compileJava/previous-compilation-data.bin
build/libs/lypakautils-mod-dev-all.jar
build/extractSrg/output.srg
build/downloadMcpConfig/output.zip
build/downloadMCMeta/version.json
build/createMcpToSrg/output.tsrg
.vscode/launch.json
.idea/runConfigurations/Minecraft_Server.xml
.idea/runConfigurations/Minecraft_Client.xml
.idea/modules/com.lypaka.lypakautils.api.iml
.idea/modules.xml
.gradle/loom-cache/remapClasspath.txt
.gradle/loom-cache/log4j.xml
.gradle/loom-cache/launch.cfg
.gradle/loom-cache/at.sha256
.gradle/file-system.probe
.gradle/7.3/gc.properties
.gradle/7.3/fileHashes/resourceHashesCache.bin
.gradle/7.3/fileHashes/fileHashes.lock
.gradle/7.3/fileHashes/fileHashes.bin
.gradle/7.3/fileChanges/last-build.bin
.gradle/7.3/executionHistory/executionHistory.lock
.gradle/7.3/executionHistory/executionHistory.bin
.gradle/7.3/dependencies-accessors/gc.properties
.gradle/7.3/dependencies-accessors/dependencies-accessors.lock
.gradle/7.3/checksums/sha1-checksums.bin
.gradle/7.3/checksums/md5-checksums.bin
.gradle/7.3/checksums/checksums.lock
LypakaUtils-src.zip
build/tmp/reobfShadowJar/reobf-extraLines4504070974138577370.srg
build/tmp/reobfShadowJar/reobf-default674010143460697417.srg
build/tmp/reobfJar/reobf-extraLines6168445677772777881.srg
build/tmp/reobfJar/reobf-default1515771070736214091.srg
build/tmp/extractAnnotationsShadowJar/input2678525667868149649.jar
build/tmp/extractAnnotationsJar/input5078969154849989721.jar
build/libs/LypakaUtils-0.0.3.jar
